@page
@model StajProjesi.Views.deneme1

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <ul>
        <li>
            sdjfkldasjflka
        </li>
        <li>
            sdjfkldasjflka
        </li>
        <li>
            sdjfkldasjflka
        </li>
    </ul>
</div>
</body>
</html>