@model List<SecondTerm>

@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
     <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
<table class="table table-hover table-bordered" id="my-table">
    <tbody>
    <thead>
    <th scope="col">Bahar Dönemi</th>
    <th scope="col">Vize</th>
    <th scope="col">Final</th>
    <th scope="col">Bütünleme</th>
    </thead>
    @foreach (var obj in Model)
    {
        <tr>
            <td> @obj.Classname</td>
            <td> @obj.Vize</td>
            <td> @obj.FinalNt</td>
         
           @{
                 if (obj.Bütünleme == 0)
                 {
                     obj.Bütünleme = null;
                 }
             }
             <td> @obj.Bütünleme</td>
        </tr>
    }
    </tbody>
</table>
</html>