

@{
    Layout = "_Layout";
}
<!DOCTYPE html>

<html>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
<body>
  
<div class="img1"><img src="Images/ac1.png" width="700px" height="500px"/></div>
<div class="img2"><img src="Images/ac2.png" width="700px" height="400px"/></div>

</body>

</html>